body{
    background: linear-gradient(135deg, #f7e8ff, #e6ccff);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    padding: 30px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(128, 0, 128, 0.2);
    border: 3px solid #d9a3ff;
}

h1{
    text-align: center;
    color: #7b2cbf;
    font-size: 36px;
    margin-bottom: 20px;
}

h2{
    color: #9d4edd;
    border-left: 5px solid #c77dff;
    padding-left: 10px;
    margin-top: 25px;
}

p, li{
    font-size: 18px;
    color: #4b4453;
    line-height: 1.6;
}

ul{
    padding-left: 25px;
}

li{
    margin-bottom: 8px;
}

.mensagem{
    background: linear-gradient(135deg, #d8b4fe, #c084fc);
    padding: 15px;
    border-radius: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 3px 10px rgba(128, 0, 128, 0.3);
}
